.grid-item.small.top-left {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  min-height: 222px;
}

.grid-item.small.top-middle {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  min-height: 222px;
}

.grid-item.small.top-right {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  min-height: 222px;
}

.bghover {
  height: 263px;
}
